USE [master]
GO
/****** Object:  Database [CUSTOMER]    Script Date: 2018/1/25 上午 08:58:29 ******/
CREATE DATABASE [CUSTOMER] ON  PRIMARY 
( NAME = N'CUSTOMER', FILENAME = N'D:\Database\Customer.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CUSTOMER_log', FILENAME = N'D:\Database\Customer_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CUSTOMER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CUSTOMER]
GO
/****** Object:  Table [dbo].[客戶]    Script Date: 2018/1/25 上午 08:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[客戶](
	[客戶編號] [nvarchar](10) NOT NULL,
	[公司名稱] [nvarchar](50) NULL,
	[連絡人] [nvarchar](10) NULL,
	[性別] [nvarchar](4) NULL,
	[職稱] [nvarchar](10) NULL,
	[地址] [nvarchar](50) NULL,
	[照片檔名] [nvarchar](50) NULL,
	[照片] [image] NULL,
 CONSTRAINT [PK_客戶] PRIMARY KEY CLUSTERED 
(
	[客戶編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[訂單]    Script Date: 2018/1/25 上午 08:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[訂單](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[客戶編號] [nvarchar](10) NOT NULL,
	[貨品] [nvarchar](20) NULL,
	[單價] [int] NULL,
	[數量] [int] NULL,
	[日期] [date] NULL,
 CONSTRAINT [PK_訂單] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[訂單] ON 

INSERT [dbo].[訂單] ([Id], [客戶編號], [貨品], [單價], [數量], [日期]) VALUES (1, N'a01', N'純喫茶－無糖綠茶', 25, 2, CAST(N'2017-11-06' AS Date))
INSERT [dbo].[訂單] ([Id], [客戶編號], [貨品], [單價], [數量], [日期]) VALUES (2, N'a02', N'御茶園－台灣四季春', 18, 4, CAST(N'2017-03-05' AS Date))
INSERT [dbo].[訂單] ([Id], [客戶編號], [貨品], [單價], [數量], [日期]) VALUES (3, N'b01', N'原萃－雲間烏龍茶', 20, 4, CAST(N'2018-01-15' AS Date))
SET IDENTITY_INSERT [dbo].[訂單] OFF
ALTER TABLE [dbo].[訂單]  WITH CHECK ADD  CONSTRAINT [FK_訂單_客戶] FOREIGN KEY([客戶編號])
REFERENCES [dbo].[客戶] ([客戶編號])
GO
ALTER TABLE [dbo].[訂單] CHECK CONSTRAINT [FK_訂單_客戶]
GO
USE [master]
GO
